.head__avtor {
 position: absolute;
 bottom: 5%;
 right: 10%;
 opacity: 0;
 animation: fade 5s linear forwards;
 animation-delay: 4s;
}

.head__cover {
    position: relative;
    opacity: 0;
    animation: fade 5s linear forwards;
}
.head__title {
    opacity: 0;
    animation: fade 5s linear forwards;
    animation-delay: 2s;
}

.head__bottom {
    opacity: 0;
    animation: fade 5s linear forwards;
    animation-delay: 6s;
}
.head__margin {
 height: 100%;
 width: 100%;
}
.head__devider {
    opacity: 0;
    animation-delay: 6s;  
}

@keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.head {
    background-color: @backcolorheadmassage;  
    margin-bottom: 15px;
}
.head__block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 60px;
    background-color: @backcolorheadmassage;
}
.head__back {
    display: flex;
    width: 15%;
    justify-content: center;
    @media (min-width: 500px) {
        width: 10%;
    }
}
.head__contact {
    display: flex;
    flex-direction: row;
    width: 55%; 
    @media (min-width: 700px) {
        width: 70%;
    }
}
.head__img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    height: 40px;
    margin-top: 3px;
    margin-right: 20px;
}
.head__about {
    width: 70%;
}
.head__name {
    padding: 0;
    margin: 0;
}
.head__status {
    padding: 0;
    margin: 0;   
}
.head__phone {
    display: flex;
    width: 15%; 
    justify-content: center;  
    @media (min-width: 700px) {
        width: 10%;
    }
}
.head__video {
    display: flex;
    width: 15%;  
    justify-content: center;
    @media (min-width: 700px) {
        width: 10%;
    }
}
